@import "tailwindcss";


body{
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
 
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fadeUp 1s ease-out forwards;
}

